# Operating system files
.DS_Store
Thumbs.db
Desktop.ini

# Editor temporary and backup files
*.swp
*.swo
*~

# Locally generated archives
*.zip

# Personal Files
TODO.md
.env
keys.json
.secrets
# Unsure on final naming, will depend on what is preferred by tooling
RELEASING.md
PROJECT_SUMMARY.md
